<h2>Žmonės pagal miestus:</h2>
<table>
    <tr>
        <th>Miestas</th>
        <th>Viso žmonių</th>
    </tr>
{{#each ataskaita}}
    <tr>
        <td>{{miestas}}</td>
        <td>{{viso}}</td>
    </tr>
{{/each}}
</table>